{% extends "Fuel_Quote/base.html" %}

{% block content %}

<div id="backgroundimg1">

    <div class="container" style="background-color: rgba(109, 84, 75, 0.1) !important;">

        <div class="jumbotron">
            
            <h1 class="display-4">About Our Products</h1>

            <hr class="my-4">

            <p class="lead">
                Here at Herrera-Pernia Fuel, we take pride in our ability to provide our clients with the best available fuel rates in the market. And it is all thanks to our top of the line rate prediction algorithms. This analyzes our client's location, the requested amount (in gallons) of fuel, their rate history, and the competition rates in order to provide you with an initial quote.From this point on, we will be able to provide our clients their estimated next fuel rate in a consistent maner.
            </p>

        </div>

    </div>

</div>

{% endblock %}
