{% extends "Fuel_Quote/base.html" %}

{% block content %}

<div id="backgroundimg1">

    <div class="container" style="background-color: rgba(109, 84, 75, 0.1) !important;">

        <div class="jumbotron">

            <h1 class="display-4">WELCOME</h1>

            <p class="lead">

            Learn how you can save thousands of dollars on your wholesale fuel needs. Our fuel rate prediction algorithms allow us to find the absolute best rates for you. Take full advantage of our unbeatable low prices and start growing your business profits today.

            </p>

            <hr class="my-4">

            <p>
            Become a member today and find out how you can start saving immediately!</p>

        </div>

    </div>

</div>

{% endblock %}
