<head>
    <title>Fuel Price-Quote Success</title>
</head>

{% extends "Fuel_Quote/base.html" %}
{% block content %}

<div id="backgroundimg1">

    <div class="container" style="border-radius: 40px !important;
    padding:0px !important;
    background-color:rgba(229, 239, 241, 0.6) !important;">
    
        <h1 class="display-3" style="
        background-color:rgba(229, 239, 241, 0.6) !important;
        border-radius: 40px;
        color: #222 !important;
        text-align: center !important">
        Your quote has been submitted successfully!</h1>

    </div>

<div id="profile-page-link-btn-container">

    <a href='/profile/' class="btn btn-outline-info" style="text-align:center !important;">Back to<br> Profile</a>

</div>

</div>





{% endblock %}
